@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
body{
    font-size: 15px;
    align-items:center;
    font-family:'Outfit', sans-serif;
    background-color: var(--secondary);
}
:root{
    --primary: hsl(0,0%,100%);
    --secondary: hsl(212,45%,89%);
    --bkprimary: hsl(220, 15%, 55%);
    --bksecondary: hsl(218, 44%, 22%);
}
.box{
    width:300px;
    margin:15vh auto;
    border-radius: 24px;
    padding:20px;
    box-sizing:border-box;
    background-color: var(--primary);
    align-items:center;
    text-align: center;
}
.guide{
    width:95%;
    margin:0 auto;
}
img{
    width:100%;
    border-radius: 10px;
    align-self: center;
}
h1{
    font-size:20px;
    font-weight: 700;
    color:var(--bksecondary);
}
p{
    font-weight:400;
    color:var(--bkprimary);
}

/* Media queries */